{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %} Post list {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Автор
        </th>
        <th>
            Дата
        </th>
        <th>
            Текст
        </th>
    </thead>
    <tr>
        <td>{{ post_delete.head |censor }}</td>
        <td>{{ post_delete.author }}</td>
        <td>{{ post_delete.create_time | date:'M d Y' }}</td>
        <td>{{ post_delete.text | truncatechars:20 }}</td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить"></form>
{% endblock content %}